<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tky.lxl.platform.dao.business.OrgTreeMapper" >

	<resultMap id="BaseResultMap" type="com.tky.lxl.platform.model.business.Organization">
		<result column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
		<result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
		<result column="CATEGORY_ITEM_ID" jdbcType="VARCHAR" property="categoryItemId" />
		<result column="CATEGORY_ITEM_NAME" jdbcType="VARCHAR" property="categoryItemName" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
		<result column="PROJECT_TYPE" jdbcType="VARCHAR" property="projectType" />
		<result column="CNT_PROJECT_WARN" jdbcType="VARCHAR" property="cntProjectWarn" />
		<result column="SECTION_ID" jdbcType="VARCHAR" property="sectionId" />
		<result column="SECTION_NAME" jdbcType="VARCHAR" property="sectionName" />
		<result column="CNT_SECTION_WARN" jdbcType="VARCHAR" property="cntSectionWarn" />
		<result column="CONBEAM_ID" jdbcType="VARCHAR" property="conbeamId" />
		<result column="CONBEAM_NAME" jdbcType="VARCHAR" property="conbeamName" />
		<result column="MAIN_KD_LENGTH" jdbcType="VARCHAR" property="mainKdLength" />
		<result column="CNT_CON_BEAM_WARN" jdbcType="VARCHAR" property="cntConBeamWarn" />
	</resultMap>
	
	<!-- 中心级用户 -->
	<select id="selectCenter" resultMap="BaseResultMap">
		/* 中心级用户 */
		SELECT
		  '1' AS DEPARTMENT_ID,
		  (SELECT NAME FROM DEPARTMENT WHERE ID = 1) AS DEPARTMENT_NAME,
		  CATEGORYITEM.ID AS CATEGORY_ITEM_ID,
		  CATEGORYITEM.NAME AS CATEGORY_ITEM_NAME,
		  PROJECTINFO.ID AS PROJECT_ID,
		  PROJECTINFO.CONSTRUCTIONDEPID AS CONSTRUCTIONDEPID,
		  PROJECTINFO.PROJECT_INFO_NAME AS PROJECT_NAME,
		  PROJECTINFO.PROJECTINFOTYPEID AS PROJECT_TYPE,
		  PROJECTINFO.CNT_PROJECT_WARN,
		  PROJECTSECTION.ID AS SECTION_ID,
		  PROJECTSECTION.NAME AS SECTION_NAME,
		  PROJECTSECTION.CNT_SECTION_WARN AS CNT_SECTION_WARN,
		  LXL.CONBEAMID AS CONBEAM_ID,
		  LXL.NAME AS CONBEAM_NAME,
		  LXL.MAINKDLENGTH AS MAIN_KD_LENGTH,
		  LXL.CNT_CON_BEAM_WARN AS CNT_CON_BEAM_WARN
		FROM
		  /* 片区 */
		  (SELECT CATEGORYITEM.ID, CATEGORYITEM.NAME, CATEGORYITEM.PRIORITY FROM CATEGORYITEM WHERE CATEGORYITEM.USEFLAG = 0) CATEGORYITEM,
		  /* 项目 */
		  (
			SELECT
			  PROJECTINFO.ID, PROJECTINFO.CATEGORYID, PROJECTINFO.PROJECTINFOTYPEID,PROJECTINFO.CONSTRUCTIONDEPID, PROJECTINFO.PRIORITY,
			  /*IFNULL(PROJECTINFO.NAMEABBR, PROJECTINFO.NAME) AS CNT_PJINFO_WARN, */ /* MySQL */
			  /*IFNULL(SECTION_WAN.CNT_PJINFO_WARN, 0) AS CNT_PJINFO_WARN */ /* MySQL */
			  NVL(PROJECTINFO.NAMEABBR, PROJECTINFO.NAME) AS PROJECT_INFO_NAME, /*Oracle */
			  NVL(SECTION_WAN.CNT_PJINFO_WARN, 0) AS CNT_PROJECT_WARN /*Oracle */
			FROM
			  PROJECTINFO
			LEFT JOIN
			  (
				/* 标段 超限梁段总数 */
				SELECT
				  PROJECTSECTION.PROJECTINFOID, SUM(CNT_SECTION_WARN) AS CNT_PJINFO_WARN
				FROM
				  (SELECT ID, PROJECTINFOID FROM PROJECTSECTION WHERE PROJECTSECTION.USEFLAG = 0) PROJECTSECTION,
				  (
					/* 连续梁 处置中/未处置 超限梁段数 */
					SELECT
					  T_LXL.SECTIONID,
					  SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
					FROM
					  T_LXL
					WHERE
					  T_LXL.USEFLAG = 0
					GROUP BY T_LXL.SECTIONID
				  ) LXL_WARN
				WHERE PROJECTSECTION.ID = LXL_WARN.SECTIONID
				GROUP BY PROJECTSECTION.PROJECTINFOID
			  ) SECTION_WAN
			ON
			  PROJECTINFO.ID = SECTION_WAN.PROJECTINFOID
			WHERE
			  PROJECTINFO.USEFLAG = 0
		  ) PROJECTINFO,
		  /* 标段 */
		  (
			SELECT 
			  PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY,
			  /*IFNULL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN */ /* MySQL */
			  NVL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN /*Oracle */
			FROM
			  (SELECT PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY
			   FROM PROJECTSECTION
			   WHERE PROJECTSECTION.USEFLAG = 0)PROJECTSECTION
			LEFT JOIN
			(
			  /* 连续梁 处置中/未处置 超限梁段数 */
			  SELECT
				T_LXL.SECTIONID,
				SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
			  FROM
				T_LXL
			  WHERE
				T_LXL.USEFLAG = 0
			  GROUP BY T_LXL.SECTIONID
			) LXL_WARN
			ON
			  PROJECTSECTION.ID = LXL_WARN.SECTIONID
		  ) PROJECTSECTION,
		  /* 连续梁 */
		  (
			SELECT
			  T_LXL.CONBEAMID, T_LXL.NAME, T_LXL.MAINKDLENGTH, T_LXL.SECTIONID,
			  /* 处置中/未处置 超限梁段数 */
			  NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0) AS CNT_CON_BEAM_WARN
			FROM
			  T_LXL
			WHERE
			  T_LXL.USEFLAG = 0
		  ) LXL
		WHERE
		  CATEGORYITEM.ID = PROJECTINFO.CATEGORYID
		AND
		  PROJECTINFO.ID = PROJECTSECTION.PROJECTINFOID
		AND
		  PROJECTSECTION.ID = LXL.SECTIONID
		ORDER BY
		  CATEGORYITEM.PRIORITY,
		  CATEGORYITEM.ID,
		  PROJECTINFO.PRIORITY,
		  PROJECTINFO.ID,
		  PROJECTSECTION.PRIORITY,
		  PROJECTSECTION.ID,
		  CONBEAM_ID
	</select>
	
	<!-- 建设单位级用户 -->
	<select id="selectConstruction" parameterType="java.lang.Long" resultMap="BaseResultMap">
		/* 建设单位级用户 */
		SELECT
		  PROJECTINFO.ID AS PROJECT_ID,
		  PROJECTINFO.PROJECT_INFO_NAME AS PROJECT_NAME,
		  PROJECTINFO.PROJECTINFOTYPEID AS PROJECT_TYPE,
		  PROJECTINFO.CNT_PROJECT_WARN,
		  PROJECTSECTION.ID AS SECTION_ID,
		  PROJECTSECTION.NAME AS SECTION_NAME,
		  PROJECTSECTION.CNT_SECTION_WARN AS CNT_SECTION_WARN,
		  LXL.CONBEAMID AS CONBEAM_ID,
		  LXL.NAME AS CONBEAM_NAME,
		  LXL.MAINKDLENGTH AS MAIN_KD_LENGTH,
		  LXL.CNT_CON_BEAM_WARN AS CNT_CON_BEAM_WARN
		FROM
		  /* 项目 */
		  (
			SELECT
			  PROJECTINFO.ID, PROJECTINFO.CATEGORYID, PROJECTINFO.PROJECTINFOTYPEID, PROJECTINFO.PRIORITY,
			  /*IFNULL(PROJECTINFO.NAMEABBR, PROJECTINFO.NAME) AS CNT_PJINFO_WARN, */ /* MySQL */
			  /*IFNULL(SECTION_WAN.CNT_PJINFO_WARN, 0) AS CNT_PJINFO_WARN */ /* MySQL */
			  NVL(PROJECTINFO.NAMEABBR, PROJECTINFO.NAME) AS PROJECT_INFO_NAME, /*Oracle */
			  NVL(SECTION_WAN.CNT_PJINFO_WARN, 0) AS CNT_PROJECT_WARN /*Oracle */
			FROM
			  (SELECT PROJECTINFO.ID, PROJECTINFO.CATEGORYID, PROJECTINFO.PROJECTINFOTYPEID, PROJECTINFO.PRIORITY,
				 PROJECTINFO.NAMEABBR, PROJECTINFO.NAME
			   FROM PROJECTINFO
			   WHERE PROJECTINFO.CONSTRUCTIONDEPID = #{id}
			   AND PROJECTINFO.USEFLAG = 0) PROJECTINFO  /*建设单位ID*/
			LEFT JOIN
			  (
				/* 标段 超限梁段总数 */
				SELECT
				  PROJECTSECTION.PROJECTINFOID, SUM(NVL(CNT_SECTION_WARN,0)) AS CNT_PJINFO_WARN
				FROM
				  (SELECT ID, PROJECTINFOID FROM PROJECTSECTION WHERE PROJECTSECTION.USEFLAG = 0) PROJECTSECTION,
				  (
					/* 连续梁 处置中/未处置 超限梁段数 */
					SELECT
					  T_LXL.SECTIONID,
					  SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
					FROM
					  T_LXL
					WHERE
					  T_LXL.USEFLAG = 0
					GROUP BY T_LXL.SECTIONID
				  ) LXL_WARN
				WHERE PROJECTSECTION.ID = LXL_WARN.SECTIONID
				GROUP BY PROJECTSECTION.PROJECTINFOID
			  ) SECTION_WAN
			ON
			  PROJECTINFO.ID = SECTION_WAN.PROJECTINFOID
		  ) PROJECTINFO,
		  /* 标段 */
		  (
			SELECT 
			  PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY,
			  /*IFNULL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN */ /* MySQL */
			  NVL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN /*Oracle */
			FROM
			  PROJECTSECTION
			LEFT JOIN
			(
			  /* 连续梁 处置中/未处置 超限梁段数 */
			  SELECT
				T_LXL.SECTIONID,
				SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
			  FROM
				T_LXL
			  WHERE
				T_LXL.USEFLAG = 0
			  GROUP BY T_LXL.SECTIONID
			) LXL_WARN
			ON
			  PROJECTSECTION.ID = LXL_WARN.SECTIONID
			WHERE
			  PROJECTSECTION.USEFLAG = 0
		  ) PROJECTSECTION,
		  /* 连续梁 */
		  (
			SELECT
			  T_LXL.CONBEAMID, T_LXL.NAME, T_LXL.MAINKDLENGTH, T_LXL.SECTIONID,
			  /* 处置中/未处置 超限梁段数 */
			  NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0) AS CNT_CON_BEAM_WARN
			FROM
			  T_LXL
			WHERE
			  T_LXL.USEFLAG = 0
		  ) LXL
		WHERE
		  PROJECTINFO.ID = PROJECTSECTION.PROJECTINFOID
		AND
		  PROJECTSECTION.ID = LXL.SECTIONID
		ORDER BY
		  PROJECTINFO.PRIORITY,
		  PROJECTINFO.ID,
		  PROJECTSECTION.PRIORITY,
		  PROJECTSECTION.ID,
		  CONBEAM_ID
	</select>
	
	<!-- 指挥部级用户 -->
	<select id="selectHeadquarter" parameterType="java.lang.Long" resultMap="BaseResultMap">
		/* 指挥部级 */
		SELECT
		  PROJECTINFO.ID AS PROJECT_ID,
		  PROJECTINFO.PROJECT_INFO_NAME AS PROJECT_NAME,
		  PROJECTINFO.PROJECTINFOTYPEID AS PROJECT_TYPE,
		  PROJECTINFO.CNT_PROJECT_WARN,
		  PROJECTSECTION.ID AS SECTION_ID,
		  PROJECTSECTION.NAME AS SECTION_NAME,
		  PROJECTSECTION.CNT_SECTION_WARN AS CNT_SECTION_WARN,
		  LXL.CONBEAMID AS CONBEAM_ID,
		  LXL.NAME AS CONBEAM_NAME,
		  LXL.MAINKDLENGTH AS MAIN_KD_LENGTH,
		  LXL.CNT_CON_BEAM_WARN AS CNT_CON_BEAM_WARN
		FROM
		  /* 项目 */
		  (
			SELECT
			  PROJECTINFO.ID, PROJECTINFO.CATEGORYID, PROJECTINFO.PROJECTINFOTYPEID, PROJECTINFO.PRIORITY,
			  NVL(PROJECTINFO.NAMEABBR, PROJECTINFO.NAME) AS PROJECT_INFO_NAME, /*ORACLE */
			  NVL(SECTION_WAN.CNT_PJINFO_WARN, 0) AS CNT_PROJECT_WARN /*ORACLE */
			FROM
			  (
				SELECT PROJECTINFO.ID, PROJECTINFO.CATEGORYID, PROJECTINFO.PROJECTINFOTYPEID, PROJECTINFO.PRIORITY,
				 PROJECTINFO.NAMEABBR, PROJECTINFO.NAME
				FROM PROJECTINFO
				INNER JOIN
				  /* 标段的部门ID : 指挥部的部门ID */
				  (SELECT DISTINCT PROJECTINFOID FROM PROJECTSECTION
				  WHERE PROJECTSECTION.COMMANDDEP = #{id}
					AND PROJECTSECTION.USEFLAG = 0) PROJECTSECTION 
				ON
				  PROJECTINFO.ID = PROJECTSECTION.PROJECTINFOID
				WHERE
				  PROJECTINFO.USEFLAG = 0
			   ) PROJECTINFO  /*建设单位ID*/

			LEFT JOIN
			  (
				/* 标段 超限梁段总数 */
				SELECT
				  PROJECTSECTION.PROJECTINFOID, SUM(NVL(CNT_SECTION_WARN,0)) AS CNT_PJINFO_WARN
				FROM
				  (SELECT ID, PROJECTINFOID FROM PROJECTSECTION WHERE PROJECTSECTION.USEFLAG = 0) PROJECTSECTION,
				  (
					/* 连续梁 处置中/未处置 超限梁段数 */
					SELECT
					  T_LXL.SECTIONID,
					  SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
					FROM
					  T_LXL
					WHERE
					  T_LXL.USEFLAG = 0
					GROUP BY T_LXL.SECTIONID
				  ) LXL_WARN
				WHERE PROJECTSECTION.ID = LXL_WARN.SECTIONID
				GROUP BY PROJECTSECTION.PROJECTINFOID
			  ) SECTION_WAN
			ON
			  PROJECTINFO.ID = SECTION_WAN.PROJECTINFOID
		  ) PROJECTINFO,
		  /* 标段 */
		  (
			SELECT 
			  PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY,
			  NVL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN
			FROM
			  (
				SELECT
				  PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY
				FROM
				  PROJECTSECTION
				WHERE
				  PROJECTSECTION.COMMANDDEP = #{id} /* 标段的部门ID : 指挥部的部门ID */
				AND
				  PROJECTSECTION.USEFLAG = 0 
			  )  PROJECTSECTION
			LEFT JOIN
			(
			  /* 连续梁 处置中/未处置 超限梁段数 */
			  SELECT
				T_LXL.SECTIONID,
				SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
			  FROM
				T_LXL
			  WHERE
				T_LXL.USEFLAG = 0
			  GROUP BY T_LXL.SECTIONID
			) LXL_WARN
			ON
			  PROJECTSECTION.ID = LXL_WARN.SECTIONID
		  ) PROJECTSECTION,
		  /* 连续梁 */
		  (
			SELECT
			  T_LXL.CONBEAMID, T_LXL.NAME, T_LXL.MAINKDLENGTH, T_LXL.SECTIONID,
				/* 处置中/未处置 超限梁段数 */
				NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0) AS CNT_CON_BEAM_WARN
			FROM
			  T_LXL
			WHERE
			  T_LXL.USEFLAG = 0
		  ) LXL
		WHERE
		  PROJECTINFO.ID = PROJECTSECTION.PROJECTINFOID
		AND
		  PROJECTSECTION.ID = LXL.SECTIONID
		ORDER BY
		  PROJECTINFO.PRIORITY,
		  PROJECTINFO.ID,
		  PROJECTSECTION.PRIORITY,
		  PROJECTSECTION.ID,
		  CONBEAM_ID
	</select>
	
	<!-- 标段级用户 -->
	<select id="selectSection" resultMap="BaseResultMap">
		/* 标段级 */
		SELECT
		  PROJECTSECTION.PROJECTINFOID AS PROJECT_ID,
		  PROJECTSECTION.ID AS SECTION_ID,
		  PROJECTSECTION.NAME AS SECTION_NAME,
		  PROJECTSECTION.CNT_SECTION_WARN AS CNT_SECTION_WARN,
		  LXL.CONBEAMID AS CONBEAM_ID,
		  LXL.NAME AS CONBEAM_NAME,
		  LXL.MAINKDLENGTH AS MAIN_KD_LENGTH,
		  LXL.CNT_CON_BEAM_WARN AS CNT_CON_BEAM_WARN
		FROM
		  /* 标段 */
		  (
			SELECT 
			  PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY,
			  /*IFNULL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN */ /* MySQL */
			  NVL(LXL_WARN.CNT_SECTION_WARN, 0) AS CNT_SECTION_WARN /*Oracle */
			FROM
			  (
				SELECT PROJECTSECTION.ID, PROJECTSECTION.NAME, PROJECTSECTION.PROJECTINFOID, PROJECTSECTION.PRIORITY
				FROM PROJECTSECTION
				WHERE PROJECTSECTION.ID = #{id} AND PROJECTSECTION.USEFLAG = 0 
			  ) PROJECTSECTION /*标段ID*/
			LEFT JOIN
			  (
				/* 连续梁 处置中/未处置 超限梁段数 */
				SELECT
				  T_LXL.SECTIONID,
				  SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
				FROM
				  T_LXL
				INNER JOIN
				  T_USER_LXL
				ON
				  T_USER_LXL.SECTION_ID = #{id}
				AND
				  T_USER_LXL.ACCOUNT = #{account}
				AND
				  T_USER_LXL.USE_FLAG = 0 
				AND
				  T_LXL.SECTIONID = #{id}
				AND
				  T_LXL.USEFLAG = 0 
				AND
				  T_USER_LXL.CONBEAMID = T_LXL.CONBEAMID
				WHERE  /* 如果有连续梁授权信息,则只能查看被授权的连续梁 */
				  0 &lt; (SELECT COUNT(ID) FROM T_USER_LXL WHERE T_USER_LXL.ACCOUNT = #{account})
				GROUP BY
				  T_LXL.SECTIONID
				
				UNION
				
				SELECT
				  T_LXL.SECTIONID,
				  SUM(NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0)) AS CNT_SECTION_WARN
				FROM
				  T_LXL
				WHERE  /* 如果无连续梁授权信息,默认能查看标段下所有的连续梁 */
				  0 = (SELECT COUNT(ID) FROM T_USER_LXL WHERE T_USER_LXL.ACCOUNT = #{account})
				AND
				  T_LXL.USEFLAG = 0
				GROUP BY
				  T_LXL.SECTIONID
			  ) LXL_WARN
			ON
			  PROJECTSECTION.ID = LXL_WARN.SECTIONID
		  ) PROJECTSECTION,
		  /* 连续梁 */
		  (
			  SELECT T_LXL.CONBEAMID, T_LXL.NAME, T_LXL.MAINKDLENGTH, T_LXL.SECTIONID,
				/* 处置中/未处置 超限梁段数 */
				NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0) AS CNT_CON_BEAM_WARN
			  FROM
				T_LXL
			  INNER JOIN
				T_USER_LXL
			  ON
				T_USER_LXL.SECTION_ID = #{id}
			  AND
				T_USER_LXL.ACCOUNT = #{account}
			  AND
				T_USER_LXL.USE_FLAG = 0 
			  AND
				T_LXL.SECTIONID = #{id}
			  AND
				T_LXL.USEFLAG = 0 
			  AND
				T_USER_LXL.CONBEAMID = T_LXL.CONBEAMID
			  WHERE  /* 如果有连续梁授权信息,则只能查看被授权的连续梁 */
				0 &lt; (SELECT COUNT(ID) FROM T_USER_LXL WHERE T_USER_LXL.ACCOUNT = #{account})
				 
			  UNION
			  
			  SELECT T_LXL.CONBEAMID, T_LXL.NAME, T_LXL.MAINKDLENGTH, T_LXL.SECTIONID,
				/* 处置中/未处置 超限梁段数 */
				NVL(T_LXL.WARNLDCOUNTDEAL, 0) + NVL(T_LXL.WARNLDCOUNTNODEAL, 0) AS CNT_CON_BEAM_WARN
			  FROM
				T_LXL
			  WHERE  /* 如果无连续梁授权信息,默认能查看标段下所有的连续梁 */
				0 = (SELECT COUNT(ID) FROM T_USER_LXL WHERE T_USER_LXL.ACCOUNT = #{account})
			  AND
				T_LXL.SECTIONID = #{id}
			  AND
				T_LXL.USEFLAG = 0
		  ) LXL
		WHERE
		  PROJECTSECTION.ID = LXL.SECTIONID
		ORDER BY
		  PROJECTSECTION.PRIORITY,
		  PROJECTSECTION.ID,
		  CONBEAM_ID
	</select>
</mapper>